@import "variables";

#game {
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;
}

#game::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: black;
  opacity: 0.7;
}
.play-game {
  transition: all 0.3s;
}
.play-game:hover {
  box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.53);
  -webkit-box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, 0.53);

  color: $color1;
}
