// Primary Components
@import "nav";
@import "error";
@import "variables";
@import "header";
@import "modal";

// Home
@import "game-highlight";

// Games
@import "featuredGames";
@import "gamesGrid";
@import "game";

// News
@import "newsGrid";

// Global CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $color2;
  color: $color4;
  font-family: "Play", sans-serif;
  position: relative;
  padding-top: 10vh;
}
html,
body {
  overflow-x: hidden;
  padding-right: 0 !important;
}

// Fonts
.odibee {
  font-family: "Odibee Sans", cursive;
}
.play {
  font-family: "Play", sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #09d9d6 #262b35;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #262b35;
}

*::-webkit-scrollbar-thumb {
  background-color: #09d9d6;
  border-radius: 5px;
  border: 0px solid #ffffff;
}
